mixin koni-basic-info-box(basicInfoBoxTitle, basicInfoBoxText)
    .koni-basic-info-box
        .koni-basic-info-box__title.h-fz-26=basicInfoBoxTitle
        .koni-basic-info-box__text.h-fz-15=basicInfoBoxText

mixin koni-galaxy-info-box(galaxyInfoBoxImg ,galaxyInfoBoxTitle, galaxyInfoBoxText, extraClass)
    img.koni-galaxy-info-box-img(src=url(`images/${galaxyInfoBoxImg}.png`) class=`${extraClass}`)
    +koni-basic-info-box(galaxyInfoBoxTitle, galaxyInfoBoxText)

mixin koni-filled-info-box(filledInfoBoxTitle, filledInfoBoxText, extraClass, showInfoBox)
    .koni-filled-info-box-container(class=`${extraClass}`)
        .koni-filled-info-box__title.h-fz-40=filledInfoBoxTitle
        .koni-filled-info-box__text.h-fz-15.h-info-text-show-less=filledInfoBoxText
        .koni-filled-info-box-btn
            +koni-button-with-icon(showInfoBox.text, showInfoBox.img, '')

mixin koni-linear-info-box(infoBoxHeaderImg, infoBoxHeaderTitle, infoBoxHeaderText, infoBoxBodyText)
    .koni-linear-info-box-container
        .koni-linear-info-wrapper
            .koni-linear-info-box-header
                img.koni-linear-info-box-header-image(src=url(`images/${infoBoxHeaderImg}.png`))
                .koni-linear-info-box-header-right-side
                    .koni-linear-info-box-header-right-side__title.h-fz-18.h-t-uppercase=infoBoxHeaderTitle
                    .koni-linear-info-box-header-right-side__text.h-fz-12.h-t-uppercase=infoBoxHeaderText
            .koni-linear-info-box-body
                .koni-linear-info-box-body__text.h-fz-15=infoBoxBodyText
            .koni-linear-info-box-footer
                img.koni-linear-info-box-footer-img(src=`images/footer-social.png`)

mixin koni-linear-info-box2(infoBoxHeaderTitle2, infoBoxHeaderSubTitle2, infoBoxBodyText2)
    .koni-linear-info-box-container-2
        .koni-linear-info-wrapper-2
            .koni-linear-info-box-2-header
                .koni-linear-info-box-header-2__subtitle.h-fz-12.h-t-uppercase=infoBoxHeaderSubTitle2
                .koni-linear-info-box-header-2__title.h-fz-24=infoBoxHeaderTitle2
            .koni-linear-info-box-body-2
                .koni-linear-info-box-body-2__text.h-fz-15=infoBoxBodyText2
            .koni-linear-info-box-footer-2
                +koni-button-with-icon-link('read more', 'arrow-right', '#', '_blank')

