extends ../_layouts/main

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    //.koni-hp-container
    //    img(src=url('/images/star.png'))
    .koni-header-background
        video#myVideo.koni-top-background-video(autoplay=true muted=true loop=true)
            source(src=url('/video-background/home-1.mp4') type='video/mp4')
            |           Your browser does not support HTML5 video.
        .container.px-4
            .koni-hp-first-section-container
                .koni-hp-section-title.h-fz-76.h-t-center We research & invest in great solutions.
                .koni-hp-section-subtitle.h-fz-20.h-t-center That support the growth of the Web3 ecosystem.
                +koni-button('start building')
    .koni-hp-second-section-container
        .koni-video-background-2
            video#myVideo2.koni-background-video-2(autoplay=true muted=true loop=true)
                source(src=url('/video-background/home-2.mp4') type='video/mp4')
                |           Your browser does not support HTML5 video.
            .koni-hp-transform-background
        .container.px-4
            .row.gx-0
                .koni-hp-second-section-left-item.col-lg-6
                    .h-t-uppercase.h-color.h-fz-18 koni studio
                    .koni-hp-second-section-left-item__text.h-fz-40 A studio of researchers, product developers, and long-term investors.
                    .koni-hp-second-section-left-item-btn
                        +koni-button-with-icon-link('explore now', 'arrow-right', '#')
                .koni-hp-second-section-right-item.col-lg-6
                    each visionAndMission in aboutUs.visionAndMission
                        +koni-basic-info-box(visionAndMission.title, visionAndMission.text)

    .container.px-4
        .koni-hp-third-section-container#our-activities
            .koni-hp-third-section-title.h-fz-68.h-t-right Our Activities
        .row.gx-0
            //img.koni-hp-third-section-right-background(src=url("/images/third-background-img.svg"))
            each activityItem in aboutUs.activities
                .koni-hp-third-section-item.col-xl-4
                    +koni-galaxy-info-box(activityItem.img, activityItem.title, activityItem.text, '')

    .container.px-4
        .koni-hp-our-product-section-container#our-product
            .koni-hp-our-product-section-title.h-fz-68.h-t-left Our Product
            .koni-hp-our-product-content-wrapper
                +koni-filled-info-box(aboutUs.ourProduct.koniWallet.title, aboutUs.ourProduct.koniWallet.text, 'koni-hp-our-product-koni-wallet', {text: 'show less', img: 'minus'})
                +koni-filled-info-box(aboutUs.ourProduct.koniConnect.title, aboutUs.ourProduct.koniConnect.text, 'koni-hp-our-product-koni-connect', {text: 'show more', img: 'plus'})
                +koni-filled-info-box(aboutUs.ourProduct.koniVerse.title, aboutUs.ourProduct.koniVerse.text, 'koni-hp-our-product-koniverse', {text: 'show more', img: 'plus'})
    .koni-hp-our-team-container
        img.koni-our-team-background-img(src=url('images/our-team-background.png'))
        .container.px-4
            .koni-hp-our-team-content-wrapper
                .koni-hp-our-team-left-content
                    video.koni-our-team-background-video(autoplay=true muted=true loop=true)
                        source(src=url('/video-background/home-3.mp4') type='video/mp4')
                        |           Your browser does not support HTML5 video.
                .koni-hp-our-team-right-content
                    .koni-hp-our-team-title.h-fz-68.h-t-right Our Team
                    .koni-hp-our-team-slicker-container
                        .koni-hp-ourteam-slick-wrapper
                            each ourTeamGr in aboutUs.ourTeams
                                .koni-hp-our-team-group
                                    .koni-hp-group-wrapper
                                        each ourTeamChildGr in ourTeamGr
                                            .koni-hp-child-group
                                                each ourTeamItem in ourTeamChildGr
                                                    +koni-linear-info-box('', ourTeamItem.title, ourTeamItem.subtitle, ourTeamItem.text)
    .koni-portfolios-container
        video.koni-background-video-4(autoplay=true muted=true loop=true)
            source(src=url('/video-background/home-4.mp4') type='video/mp4')
            |           Your browser does not support HTML5 video.

        .container.px-4
            .koni-hp-our-advisor-container#our-advisors
                .koni-hp-our-advisor-title.h-t-left.h-fz-68 Our Advisor
                .koni-hp-ouradvisor-slicker-wrapper
                    each advisorItem in aboutUs.advisors
                        .koni-hp-our-advisor-wrapper
                            +koni-advisors-item(advisorItem.img, advisorItem.name, advisorItem.position)

        .container.px-4
            .koni-hp-our-portfolio-title.h-fz-18.h-t-uppercase our portfolio
            .koni-hp-our-portfolio-content
                each portfolio in aboutUs.portfolio
                    +koni-portfolio-item(portfolio)

            .koni-hp-partner-and-backer-title.h-fz-18.h-t-uppercase#partner-and-backer partner and backer
            .koni-partners-and-backers-wrapper
                each partnerAndBacker in aboutUs.partnersAndBackers
                    +koni-partner-and-backer-item(partnerAndBacker)

        .container.px-4
            .koni-hp-blogposts-container#blogposts
                .koni-hp-blogposts-title.h-fz-68.h-t-left Blog Posts
                .koni-hp-blogposts-content-wrapper
                    each blogpost in aboutUs.blogPosts
                        +koni-linear-info-box2(blogpost.title, blogpost.subtitle, blogpost.text)

    script.
        const body = document.body;
        const scrollUp = "scroll-up";
        const scrollDown = "scroll-down";
        const headerHeight = document.querySelector('.koni-header__placeholder').offsetHeight;
        let lastScroll = 0;

        window.addEventListener("scroll", () => {
            const currentScroll = window.pageYOffset;
            if (currentScroll <= 0) {
                body.classList.remove(scrollUp);
                body.classList.remove('scroll');
                return;
            }

            if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
                // down
                body.classList.remove(scrollUp);
                body.classList.add(scrollDown);
                if (currentScroll > headerHeight) {
                    body.classList.add('scroll');
                }
            } else if (
                currentScroll < lastScroll &&
                body.classList.contains(scrollDown)
            ) {
                // up
                body.classList.remove(scrollDown);
                body.classList.add(scrollUp);

            }
            lastScroll = currentScroll;
        });
